{% extends 'layout/layout.twig' %}

{% block subtitle %}Home{% endblock %}

{% block description %}Homepage of the PHP-MVC project{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Introduction</h2>

            <p>This project is a pedagogic template to start a Web application with a PHP MVC architecture...</p>
            <p>You will find the documentation <a href="https://github.com/philippebeck/php-mvc/wiki">here</a>...</p>
            <p>Don't hesitate to send <a href="https://github.com/philippebeck/php-mvc/issues">issues</a> or <a href="https://github.com/philippebeck/php-mvc/pulls">pull requests</a>, I will watch them with interest...</p>
        </section>

        <section>
            <h2>Demonstration</h2>

            <p>The example users are :</p>
            <ul>
                {% for user in allUsers %}
                    <li>
                        {{ user.name }} <hr> {{ user.email }}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
