<footer>
    <ul>
        <li>
            <a href="https://github.com/philippebeck/php-mvc" title="GitHub" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-github-alt fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="https://packagist.org/packages/philippebeck/php-mvc" title="Packagist" rel="noreferrer noopener" target="_blank">
                <i class="fab fa-php fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="https://github.com/philippebeck/php-mvc/blob/master/LICENSE">MIT 2019 - Philippe Beck</a>
        </li>
    </ul>
</footer>
