<nav>
    <ul>
        <li>
            <a href="index.php?access=home" accesskey="h" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a href="mailto:admin@philippebeck.net" accesskey="c" title="Contact">
                <i class="fas fa-at fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</nav>
